<a href="https://colab.research.google.com/github/diego-burgos/Electivo-II-Big-Data/blob/main/Ejercicio1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1 - Carga de ujn archivo CSV desde Drive

In [2]:
import pandas as pd

In [3]:
datos = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vSzJDRWDL-gjBRgJaeeNRuzZL7742CR_wLBb_fF-GRe3kpO7EiOEdBtx-j6M2ZkeyQ_deTINX_G5cFw/pub?gid=1188755150&single=true&output=csv")

In [4]:
datos

       nombre  edad    ciudad  ingresos
0        Juan    30      Lima      2500
1       María    28  Arequipa      3800
2        Luis    35     Cusco      4800
3         Ana    22  Trujillo      2000
4       Pedro    28  Arequipa      3200
5      Leonel    64   Juliaca      4980
6       Laura    31      Lima      4200
7      Carlos    25     Cusco      1800
8       Sofía    29  Trujillo      2900
9      Andrés    27      Lima      2600
10   Gabriela    33  Arequipa      4000
11    Micaela    21   Juliaca      5000
12      Diego    24     Cusco      3200
13  Valentina    26  Trujillo      3500
14     Lorena    30      Lima      3800
15     Javier    32  Arequipa      5000
16    Daniela    29      Lima      2700
17     Manuel    31  Trujillo      2700
18   Fernanda    28     Cusco      2100
19    Ricardo    35      Lima      4400
20      Lucía    23  Trujillo      1500
21       José    34  Arequipa      4200
22      Willy    55      Puno      1300

In [5]:
#Obtenemos la suma total de la columna ingresos
suma_ingresos = datos['ingresos'].sum()
print("La suma de la columna de ingresos es: ", suma_ingresos)

La suma de la columna de ingresos es:  76180

In [7]:
#Promedio de las edades
promedio_edad = datos['edad'].mean()
print("El promedio de edad es: ",int(promedio_edad))

El promedio de edad es:  31

In [14]:
# Filtrar por personas de Arequipa
personas_arequipa = datos[datos['ciudad'] == 'Arequipa']

# Seleccionar solo las columnas 'nombre' y 'ciudad'
personas_arequipa = personas_arequipa[['ciudad', 'nombre']]

print("Personas de Arequipa:")
print(personas_arequipa)

Personas de Arequipa:
      ciudad    nombre
1   Arequipa     María
4   Arequipa     Pedro
10  Arequipa  Gabriela
15  Arequipa    Javier
21  Arequipa      José

In [22]:
#Promedio de ingresos por ciudad
promedio_ingresos_por_ciudad = datos.groupby('ciudad')['ingresos'].mean().astype(int);

print("Promedio de ingresos por ciudad:")
print(promedio_ingresos_por_ciudad)

Promedio de ingresos por ciudad:
ciudad
Arequipa    4040
Cusco       2975
Juliaca     4990
Lima        3366
Puno        1300
Trujillo    2520
Name: ingresos, dtype: int64

In [31]:
#Filtro por persona mas joven y mas mayor
nombre_persona_menor_edad = datos.loc[datos['edad'].idxmin(), 'nombre']
nombre_persona_mayor_edad = datos.loc[datos['edad'].idxmax(), 'nombre']

print("Nombre de la persona más joven:", nombre_persona_menor_edad)
print("Nombre de la persona más mayor:", nombre_persona_mayor_edad)

Nombre de la persona más joven: Micaela
Nombre de la persona más mayor: Leonel

In [29]:
indice_persona_menor_edad = datos['edad'].idxmin()
indice_persona_mayor_edad = datos['edad'].idxmax()

persona_menor_edad = datos.loc[indice_persona_menor_edad]
persona_mayor_edad = datos.loc[indice_persona_mayor_edad]

print("Persona más joven:")
print(persona_menor_edad)

print("\nPersona más mayor:")
print(persona_mayor_edad)

Persona más joven:
nombre      Micaela
edad             21
ciudad      Juliaca
ingresos       5000
Name: 11, dtype: object

Persona más mayor:
nombre       Leonel
edad             64
ciudad      Juliaca
ingresos       4980
Name: 5, dtype: object

In [35]:
#Conteo cuántas personas trabajan por ciudad
conteo_trabajadores = datos.groupby('ciudad')['nombre'].count()

print("Conteo de personas que trabajan por ciudad:")
print(conteo_trabajadores)

Conteo de personas que trabajan por ciudad:
ciudad
Arequipa    5
Cusco       4
Juliaca     2
Lima        6
Puno        1
Trujillo    5
Name: nombre, dtype: int64

In [39]:
#opcion 2 conteo por personas que trabajan por ciudad
import numpy as np
datos['trabaja'] = np.random.choice([True, False], len(datos))

# Contar cuántas personas trabajan por ciudad
conteo_trabajadores_por_ciudad = datos.groupby('ciudad').sum()

print("Conteo de personas que trabajan por ciudad:")
print(conteo_trabajadores_por_ciudad)

Conteo de personas que trabajan por ciudad:
          edad  ingresos  trabaja
ciudad
Arequipa   155     20200        2
Cusco      112     11900        0
Juliaca     85      9980        1
Lima       182     20200        3
Puno        55      1300        0
Trujillo   131     12600        1

<ipython-input-39-a6f08c69bf29>:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  conteo_trabajadores_por_ciudad = datos.groupby('ciudad').sum()

In [40]:
datos

       nombre  edad    ciudad  ingresos  trabaja
0        Juan    30      Lima      2500     True
1       María    28  Arequipa      3800     True
2        Luis    35     Cusco      4800    False
3         Ana    22  Trujillo      2000    False
4       Pedro    28  Arequipa      3200     True
5      Leonel    64   Juliaca      4980     True
6       Laura    31      Lima      4200    False
7      Carlos    25     Cusco      1800    False
8       Sofía    29  Trujillo      2900     True
9      Andrés    27      Lima      2600    False
10   Gabriela    33  Arequipa      4000    False
11    Micaela    21   Juliaca      5000    False
12      Diego    24     Cusco      3200    False
13  Valentina    26  Trujillo      3500    False
14     Lorena    30      Lima      3800     True
15     Javier    32  Arequipa      5000    False
16    Daniela    29      Lima      2700     True
17     Manuel    31  Trujillo      2700    False
18   Fernanda    28     Cusco      2100    False
19    Ricardo    35      Lima      4400    False
20      Lucía    23  Trujillo      1500    False
21       José    34  Arequipa      4200    False
22      Willy    55      Puno      1300    False

In [43]:
#filtro de edad de mayor a menor
df_ordenado_por_edad = datos.sort_values(by='edad', ascending=False)

print("DataFrame ordenado por edad:")
print(df_ordenado_por_edad)

DataFrame ordenado por edad:
       nombre  edad    ciudad  ingresos  trabaja
5      Leonel    64   Juliaca      4980     True
22      Willy    55      Puno      1300    False
2        Luis    35     Cusco      4800    False
19    Ricardo    35      Lima      4400    False
21       José    34  Arequipa      4200    False
10   Gabriela    33  Arequipa      4000    False
15     Javier    32  Arequipa      5000    False
6       Laura    31      Lima      4200    False
17     Manuel    31  Trujillo      2700    False
14     Lorena    30      Lima      3800     True
0        Juan    30      Lima      2500     True
8       Sofía    29  Trujillo      2900     True
16    Daniela    29      Lima      2700     True
1       María    28  Arequipa      3800     True
18   Fernanda    28     Cusco      2100    False
4       Pedro    28  Arequipa      3200     True
9      Andrés    27      Lima      2600    False
13  Valentina    26  Trujillo      3500    False
7      Carlos    25     Cusco      1800    False
12      Diego    24     Cusco      3200    False
20      Lucía    23  Trujillo      1500    False
3         Ana    22  Trujillo      2000    False
11    Micaela    21   Juliaca      5000    False